[core]
	excludesfile = ~/.gitignore_global
[user]
	name = Artur Yersh
	username = artyorsh-recare
        email = artur.yersh@recaresolutions.com
[alias]
	conflicts = diff --name-only --diff-filter=U
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
